header {
  margin-top: .3em;
  margin-bottom: 2em; }
  header img {
    width: 5em;
    display: inline-block;
    margin-top: 1em; }
  header h1 {
    display: inline-block;
    margin-top: .5em; }
  header .input-group {
    margin-top: 1em; }
    header .input-group #basic-addon1 {
      cursor: pointer !important; }

nav {
  padding: 1em;
  color: white;
  background-color: #292684; }
  nav ul li.active {
    color: white !important; }
    nav ul li.active a:hover {
      color: white !important; }
  nav ul li {
    width: 15em;
    text-align: center; }
    nav ul li a {
      color: white !important; }
      nav ul li a:hover {
        color: #337ab7 !important; }

section.slider {
  margin-top: 2em; }

section.main_section {
  margin-top: 2em; }
  section.main_section h3 {
    margin: 2em; }
  section.main_section ul.list_option {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    section.main_section ul.list_option li.element_option {
      width: 30%;
      display: inline-block; }
      section.main_section ul.list_option li.element_option .thumbnail p {
        margin: 1em; }

section.main_team_section #test_div .form-group {
  display: flex;
  flex-direction: column; }

.slick-arrow {
  background-color: #337ab7; }
